#ticket-booked-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.success {
  margin: 50px;
}
.color-red {
  color: white;
  background-color: red;
  border: none;
  border-radius: 10px;
  padding: 10px;
}
#ticket-booked-container .color-green {
  color: #85bb65;
}
.booked-Data-container {
  padding: 20px;
  border: 1px solid black;
  width: 70%;
  border-radius: 100px;
  margin-bottom: 50px;
  background-color: black;
}
.booked-Data,
.booked-arrival-departure-div {
  display: flex;
}
.booked-Data {
  align-items: center;
  justify-content: center;
}
.booked-arrival-departure-div {
  color: #ffff;
  width: 50%;
  justify-content: space-evenly;
}
.booked-bus-name-div {
  color: #ffc40c;
}
.seats-container {
  text-align: center;
}
.seats-container h3 {
  color: #ffff;
  margin-bottom: 20px;
}
.booked-price-div h4 {
  color: #ffff;
}
.booked-bus-name-div,
.booked-arrival-departure-div {
  margin-bottom: 20px;
}

@media (max-width: 769px) {
  .booked-bus-name-div {
    text-align: center;
  }
  .booked-Data {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* text-align: center; */
  }
  .booked-arrival-departure-div {
    text-align: center;
  }
}
@media (max-width: 426px) {
  .booked-arrival-departure-div {
    display: flex;
    flex-direction: column;
  }
  .booked-Data {
    text-align: center;
  }
  .color-green {
    text-align: center;
  }
}
