.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  width: 100%;
}
body {
  background-color: #ffff !important;
}
.Booking-container div {
  /* display: flex; */
  /* flex-direction: column;*/
  justify-content: center;
  /* align-items: center;  */
  /* text-align: center; */
}
.reference-div {
  margin-top: 10px;
}
.btn-span-container1 {
  margin-bottom: 5px;
}
.btn-span-container1 button {
  margin-right: 40px;
  background-color: #ffff;
  border: 1px solid greenyellow;
  box-shadow: 1px 1px 1px greenyellow;
}
.btn-span-container2 button {
  margin-right: 10px;
  background-color: rgba(211, 211, 211, 0.763);
  border: none;
}
#close-btn {
  position: fixed;
  right: 250px;
}
.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 70%;
  max-height: 80vh;
  overflow-y: auto;
}
.seat-btn.selected {
  background-color: #ffc40c;
}

.seats-grid {
  display: grid;
  grid-template-columns: repeat(4, 50px);
  gap: 10px;
  text-align: center;
}

.seat-btn {
  width: 50px;
  margin-bottom: 10px;
}

.seat {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
}

.seat-row .selectedSeat {
  background-color: #ffc40c;
}
.reference-div {
  text-align: center;
  margin-bottom: 20px;
}
.reference-div div {
  width: 300px;
}
#close-btn {
  padding: 5px 10px;
  background-color: white;
  color: black;
  border-radius: 4px;
  cursor: pointer;
}

.seat-row button:hover {
  border: 2px solid #ffc40c;
}
.popup-content p {
  text-align: center;
  font-size: 25px;
  color: #ffc40c;
}
.booking-section {
  text-align: start;
  /* background-color: black; */
  /* color: #ffff; */
  color: black;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.booking-section span {
  color: #ffc40c;
}
.booking-section .green_color {
  color: rgb(150, 250, 0);
}
.Book-Now-Btn-div {
  text-align: center;
  margin-top: 50px;
}
.disabled {
  background-color: rgba(211, 211, 211, 0.763);
}
.NormalSeats {
  background-color: #ffff;
  border: 1px solid greenyellow;
  box-shadow: 1px 1px 1px greenyellow;
}

/* .reserved {
  background-color: lightgrey;
} */
.normal-color {
  background-color: #ffc40c;
  border: none;
  color: #ffff;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.disabled-color {
  background-color: #ffc20c86;
  border: none;
  color: #ffff;
  padding: 10px;
  border-radius: 10px;
  cursor: not-allowed;
}
.message-success {
  width: 500px;
  font-size: 31px;
  height: 70px;
  color: black;
  position: fixed;
  top: 25px;
  left: 34%;
  background-color: greenyellow;
  display: flex;
  align-items: center;
  justify-content: center;
}
.message-danger {
  width: 500px;
  font-size: 31px;
  height: 70px;
  color: black;
  position: fixed;
  top: 50px;
  left: 34%;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1024px) {
  #close-btn {
    right: 170px;
  }
}
@media (max-width: 768px) {
  #close-btn {
    right: 125px;
  }
  .Booking-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Booking-container .seat-grid-container p {
    text-align: center;
  }
  .seat-grid-container {
    margin-bottom: 50px;
  }
  .booking-section {
    text-align: center;
  }
}
@media (max-width: 426px) {
  #close-btn {
    right: 70px;
  }
  .booking-section div h3,
  .booking-section div h2 {
    font-size: 20px;
  }
}
@media (max-width: 376px) {
  #close-btn {
    right: 15px;
    top: 15px;
  }
  .booking-section div h3,
  .booking-section div h2 {
    font-size: 18px;
  }
  .seat-btn {
    width: 40px;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 321px) {
  #close-btn {
    right: 15px;
    top: 15px;
  }
  .booking-section div h3,
  .booking-section div h2 {
    font-size: 15px;
  }
  .seat-btn {
    width: 35px;
    display: flex;
    justify-content: center;
  }
  .seats-grid {
    gap: 0px;
  }
}
